# Small system with high-speed paper tape unit

mds800_ram = 16
crt_att = TelnetSerial 192.168.1.17 31123
tty_att = TelnetSerial 192.168.1.17 31124

# default iobyte for RDR/PUN as high-speed paper tape
mds800_iobyte = 0110

# High-speed paper tape unit
mds800_pt = yes
#ptr_att = rdr_data.txt
#ptp_att = pun_data.txt
